In [1]:
import pandas as pd
from sessionID_check import read_csv_file, group_data, count_sessionIDs

In [7]:
#Code for assembling a batch of request from one user
data = read_csv_file('requests.csv')
data = group_data(data)
single_user = data.iloc[1]

In [8]:
#get number of unique sessionID
count_sessionIDs(single_user)

88

In [19]:
#convert unix time to readable format
data['timestamp'] = pd.to_datetime(data['timestamp'], unit='ms')

In [20]:
#separate date and time into new columns, also drop 'expiring'
data['date'] = data['timestamp'].dt.date
data['time'] = data['timestamp'].dt.time
data = data.drop(columns='expiring')

In [5]:
data

,timestamp,userID,sessionID,URL,date,time
0,2023-02-14 11:15:43.936,user-1003,c85cbd00-d2fc-4cda-9f5c-66616847d851,/chat/send/442,2023-02-14,11:15:43.936000
1,2023-02-14 11:15:44.344,user-1005,a0038f81-b46a-4f26-a7ea-2791d53404fb,/profile/407,2023-02-14,11:15:44.344000
2,2023-02-14 11:15:44.456,user-1003,c85cbd00-d2fc-4cda-9f5c-66616847d851,/chat/send/969,2023-02-14,11:15:44.456000
3,2023-02-14 11:15:44.912,user-65,fd48a9f9-67f4-4185-9bcc-a76b7139401c,/searchUsers?page=0,2023-02-14,11:15:44.912000
4,2023-02-14 11:15:45.020,user-1005,a0038f81-b46a-4f26-a7ea-2791d53404fb,/profile/148,2023-02-14,11:15:45.020000
...,...,...,...,...,...,...
263206,2023-02-15 07:09:50.852,user-629,2a43fe7f-d300-470d-9523-d362b70b37d3,/profile/572,2023-02-15,07:09:50.852000
263207,2023-02-15 07:09:51.104,user-629,2a43fe7f-d300-470d-9523-d362b70b37d3,/conversation/572,2023-02-15,07:09:51.104000
263208,2023-02-15 07:09:51.342,user-629,2a43fe7f-d300-470d-9523-d362b70b37d3,/conversation/572/markAsRead,2023-02-15,07:09:51.342000
263209,2023-02-15 07:09:51.375,user-1005,0e84ab80-bfa4-402b-9ae0-6397441e91d6,/profile/995,2023-02-15,07:09:51.375000
263210,2023-02-15 07:09:52.110,user-1005,0e84ab80-bfa4-402b-9ae0-6397441e91d6,/profile/380,2023-02-15,07:09:52.110000

In [21]:
#group all column values based on userID
data = data.groupby('userID').agg(lambda x: ', '.join(x.astype(str))).reset_index()
data

,userID,timestamp,sessionID,URL,date,time
0,user-10,"2023-02-14 11:52:03.348, 2023-02-14 11:52:09.1...","null, 53f2f0c8-719b-4df9-837a-134f93c27501, ...","/login, /searchUsers?page=0, /profile/372, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","11:52:03.348000, 11:52:09.188000, 11:52:18.350..."
1,user-100,"2023-02-14 12:13:09.336, 2023-02-14 12:13:18.0...","null, c8e78456-e1d4-4c6e-b557-a6967d89ef02, ...","/login, /searchUsers?page=0, /profile/716, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","12:13:09.336000, 12:13:18.053000, 12:13:19.611..."
2,user-1000,"2023-02-14 14:43:35.691, 2023-02-14 14:43:43.3...","null, c48e67f9-4028-406e-b79b-1a9b37286967, ...","/login, /searchUsers?page=0, /profile/626, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","14:43:35.691000, 14:43:43.348000, 14:43:47.565..."
3,user-1001,"2023-02-14 11:24:02.170, 2023-02-14 11:24:04.3...","null, d231871c-dbe3-4069-baab-2d5f1d3ce280, ...","/login, /searchUsers?page=0, /profile/117, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","11:24:02.170000, 11:24:04.374000, 11:24:09.642..."
4,user-1002,"2023-02-14 11:25:38.506, 2023-02-14 11:25:45.2...","null, 7973a2b2-9a41-4ab2-8e69-c91c6ab20085, ...","/login, /searchUsers?page=0, /profile/162, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","11:25:38.506000, 11:25:45.276000, 11:25:46.891..."
...,...,...,...,...,...,...
999,user-995,"2023-02-14 11:51:33.354, 2023-02-14 11:51:42.2...","null, 368f244a-7878-4192-ac83-9ac8896d9736, ...","/login, /searchUsers?page=0, /profile/337, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","11:51:33.354000, 11:51:42.292000, 11:51:49.215..."
1000,user-996,"2023-02-14 11:46:55.327, 2023-02-14 11:47:04.7...","null, 5bdc4e86-69d0-43c4-b6d3-a7347dc65847, ...","/login, /searchUsers?page=0, /profile/642, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","11:46:55.327000, 11:47:04.782000, 11:47:12.642..."
1001,user-997,"2023-02-14 12:24:02.299, 2023-02-14 12:24:04.7...","null, a77fe519-7956-4ca5-b0ed-2e033fdb15e4, ...","/login, /searchUsers?page=0, /profile/760, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","12:24:02.299000, 12:24:04.743000, 12:24:13.055..."
1002,user-998,"2023-02-14 12:23:52.947, 2023-02-14 12:23:59.4...","null, da839b7f-6596-40cc-9cb9-195db960f2f6, ...","/login, /searchUsers?page=0, /profile/944, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","12:23:52.947000, 12:23:59.469000, 12:24:04.691..."
1003,user-999,"2023-02-14 15:20:40.265, 2023-02-14 15:20:42.3...","null, b995b827-9018-44cb-8c48-7c040563a677, ...","/login, /searchUsers?page=0, /profile/243, ...","2023-02-14, 2023-02-14, 2023-02-14, 2023-02-14...","15:20:40.265000, 15:20:42.330000, 15:20:47.329..."

In [22]:
data.set_index('timestamp', inplace=True)

In [23]:
df_5min = data.resample('5T').agg()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [24]:
df_5min

                     userID  sessionID   URL  date  time
timestamp
2023-02-14 11:15:00     992        992   992   992   992
2023-02-14 11:20:00    1190       1190  1190  1190  1190
2023-02-14 11:25:00    1218       1218  1218  1218  1218
2023-02-14 11:30:00     940        940   940   940   940
2023-02-14 11:35:00    1026       1026  1026  1026  1026
...                     ...        ...   ...   ...   ...
2023-02-15 06:45:00    1060       1060  1060  1060  1060
2023-02-15 06:50:00    1041       1041  1041  1041  1041
2023-02-15 06:55:00    1001       1001  1001  1001  1001
2023-02-15 07:00:00    1040       1040  1040  1040  1040
2023-02-15 07:05:00    1145       1145  1145  1145  1145

[239 rows x 5 columns]

In [152]:
data_drop_expire.dtypes

userID       object
timestamp    object
sessionID    object
URL          object
dtype: object

In [ ]:
#trying to count unique sessionID... does not work!!

num_categories = data_drop_expire.groupby('userID')['sessionID'].nunique()
data_drop_expire['unique_Sessions'] = data_drop_expire['userID'].map(num_categories)
data_drop_expire

**Code below is just for checking some things**
Timestamp on other format?
Sort sequences (5min?)

In [72]:
#all requests by user-1003 (spammer 1, index = [5] in og dataframe)
spammer_1_data = data.loc[data['userID'].str.strip() == 'user-1003']
spammer_1_data

,timestamp,userID,sessionID,expiring,URL
0,1676373343936,user-1003,c85cbd00-d2fc-4cda-9f5c-66616847d851,1676373495816,/chat/send/442
2,1676373344456,user-1003,c85cbd00-d2fc-4cda-9f5c-66616847d851,1676373495816,/chat/send/969
26,1676373348109,user-1003,c85cbd00-d2fc-4cda-9f5c-66616847d851,1676373495816,/searchUsers?page=2036
29,1676373348626,user-1003,c85cbd00-d2fc-4cda-9f5c-66616847d851,1676373495816,/chat/send/647
31,1676373349146,user-1003,c85cbd00-d2fc-4cda-9f5c-66616847d851,1676373495816,/chat/send/886
...,...,...,...,...,...
263167,1676444978796,user-1003,38b28ccc-4046-4dbe-bc7b-794319da0a73,1676445198086,/chat/send/934
263194,1676444987435,user-1003,38b28ccc-4046-4dbe-bc7b-794319da0a73,1676445198086,/searchUsers?page=11735
263196,1676444987946,user-1003,38b28ccc-4046-4dbe-bc7b-794319da0a73,1676445198086,/chat/send/474
263202,1676444990327,user-1003,38b28ccc-4046-4dbe-bc7b-794319da0a73,1676445198086,/searchUsers?page=11736
263205,1676444990846,user-1003,38b28ccc-4046-4dbe-bc7b-794319da0a73,1676445198086,/chat/send/834

In [ ]:
#spammer_1_data.sessionID.unique()

In [157]:
#number of unique 'sessionID'
spammer_1_data['sessionID'].nunique()

238

In [52]:
#all requests by user-1004 (spammer 2, index = [6] in og dataframe)
spammer_2_data = data.loc[data['userID'].str.strip() == 'user-1004']
spammer_2_data

,timestamp,userID,sessionID,expiring,URL
39,1676373350815,user-1004,c0fb34fe-682f-4509-958b-b0c003119c49,1676373505796,/searchUsers?page=1981
50,1676373353057,user-1004,c0fb34fe-682f-4509-958b-b0c003119c49,1676373505796,/searchUsers?page=1982
55,1676373353576,user-1004,c0fb34fe-682f-4509-958b-b0c003119c49,1676373505796,/chat/send/474
89,1676373361701,user-1004,c0fb34fe-682f-4509-958b-b0c003119c49,1676373505796,/searchUsers?page=1983
93,1676373362216,user-1004,c0fb34fe-682f-4509-958b-b0c003119c49,1676373505796,/chat/send/651
...,...,...,...,...,...
263179,1676444983356,user-1004,c8a7b295-7248-4667-a6a6-2a7b3b10722a,1676445257086,/chat/send/385
263193,1676444987391,user-1004,c8a7b295-7248-4667-a6a6-2a7b3b10722a,1676445257086,/searchUsers?page=11702
263195,1676444987906,user-1004,c8a7b295-7248-4667-a6a6-2a7b3b10722a,1676445257086,/chat/send/122
263198,1676444988426,user-1004,c8a7b295-7248-4667-a6a6-2a7b3b10722a,1676445257086,/chat/send/532
263199,1676444988946,user-1004,c8a7b295-7248-4667-a6a6-2a7b3b10722a,1676445257086,/chat/send/957

In [88]:
#spammer_2_data.sessionID.unique()

In [87]:
spammer_2_data['sessionID'].nunique()

238

In [54]:
#all requests by user-1005 (data scraper, index = [7] in og dataframe)
data_scraper = data.loc[data['userID'].str.strip() == 'user-1005']
data_scraper

,timestamp,userID,sessionID,expiring,URL
1,1676373344344,user-1005,a0038f81-b46a-4f26-a7ea-2791d53404fb,1676373476316,/profile/407
4,1676373345020,user-1005,a0038f81-b46a-4f26-a7ea-2791d53404fb,1676373476316,/profile/148
6,1676373345277,user-1005,a0038f81-b46a-4f26-a7ea-2791d53404fb,1676373476316,/profile/223
7,1676373345452,user-1005,a0038f81-b46a-4f26-a7ea-2791d53404fb,1676373476316,/profile/916
8,1676373345844,user-1005,a0038f81-b46a-4f26-a7ea-2791d53404fb,1676373476316,/profile/337
...,...,...,...,...,...
263191,1676444986859,user-1005,0e84ab80-bfa4-402b-9ae0-6397441e91d6,1676445040536,/searchUsers?page=8221
263192,1676444987334,user-1005,0e84ab80-bfa4-402b-9ae0-6397441e91d6,1676445040536,/profile/729
263204,1676444990599,user-1005,0e84ab80-bfa4-402b-9ae0-6397441e91d6,1676445040536,/searchUsers?page=8222
263209,1676444991375,user-1005,0e84ab80-bfa4-402b-9ae0-6397441e91d6,1676445040536,/profile/995
263210,1676444992110,user-1005,0e84ab80-bfa4-402b-9ae0-6397441e91d6,1676445040536,/profile/380

In [91]:
data_scraper['sessionID'].nunique()

238

In [93]:
normal_user = data.loc[data['userID'].str.strip() == 'user-975']
normal_user

,timestamp,userID,sessionID,expiring,URL
38348,1676383289798,user-975,null,0,/login
38358,1676383294111,user-975,c12cbaa5-a55b-4a94-ba7c-495110307f12,1676383589806,/searchUsers?page=0
38379,1676383300037,user-975,c12cbaa5-a55b-4a94-ba7c-495110307f12,1676383589806,/profile/369
38380,1676383300056,user-975,c12cbaa5-a55b-4a94-ba7c-495110307f12,1676383589806,/photos/369/like
38389,1676383301625,user-975,c12cbaa5-a55b-4a94-ba7c-495110307f12,1676383589806,/config
...,...,...,...,...,...
234181,1676436890765,user-975,ae10ee26-8a5b-4255-9d46-2b9e4e5c1349,1676437127456,/profile/508
234182,1676436891130,user-975,ae10ee26-8a5b-4255-9d46-2b9e4e5c1349,1676437127456,/conversation/508
234191,1676436891484,user-975,ae10ee26-8a5b-4255-9d46-2b9e4e5c1349,1676437127456,/conversation/508/markAsRead
234192,1676436891496,user-975,ae10ee26-8a5b-4255-9d46-2b9e4e5c1349,1676437127456,/chat/send/508
234200,1676436894537,user-975,ae10ee26-8a5b-4255-9d46-2b9e4e5c1349,1676437127456,/profile/508

In [94]:
normal_user['sessionID'].nunique()

8