In [34]:
import pandas as pd

In [43]:
df = pd.read_csv('csv_files/calculations.csv')
df

      request_freq  avg_tokens  longest_consec   var_score        user
0         2.036531    2.000000              15  172.095238   user-1003
1         2.572653    4.000000               9  140.971429   user-1003
2         2.268571    2.000000              15  149.238095   user-1003
3         2.132122    2.000000              10  149.238095   user-1003
4         2.198367    3.000000              13  150.685714   user-1003
...            ...         ...             ...         ...         ...
5749    642.863652    0.111111               5   24.352381    user-754
5750   1069.710038    0.118280               3    8.838095    user-641
5751    756.243600    0.153846               2    8.266667    user-641
5752   1295.875074    0.076271               3    8.352381    user-715
5753    291.293692    0.192308               4    9.952381    user-715

[5754 rows x 5 columns]

In [36]:
df_spammers_scrapers = df.loc[(df['user'] == ' user-1003') | (df['user'] == ' user-1004') | (df['user'] == ' user-1005')]

In [37]:
df_spammers_scrapers

      request_freq  avg_tokens  longest_consec   var_score        user
0         2.036531         2.0              15  172.095238   user-1003
1         2.572653         4.0               9  140.971429   user-1003
2         2.268571         2.0              15  149.238095   user-1003
3         2.132122         2.0              10  149.238095   user-1003
4         2.198367         3.0              13  150.685714   user-1003
...            ...         ...             ...         ...         ...
2702      2.339792         2.0              11  146.409524   user-1004
2703      1.872667         3.0              15  168.123810   user-1004
2704      1.997229         2.0              12  157.266667   user-1004
2705      1.951667         2.0              10  151.552381   user-1004
2706      1.749167         4.0              11  160.980952   user-1004

[2682 rows x 5 columns]

In [38]:
df_normal = pd.concat([df, df_spammers_scrapers]).drop_duplicates(keep = False)

In [39]:
df_normal

      request_freq  avg_tokens  longest_consec  var_score       user
2027     71.405721    0.545455               5  18.257143    user-65
2028    456.617930    0.090909               2  21.742857    user-65
2029      2.657953    2.500000               5  16.742857    user-65
2030   1080.575628    0.096154               4  23.266667    user-65
2031      1.846093    3.000000               4  19.123810    user-65
...            ...         ...             ...        ...        ...
5749    642.863652    0.111111               5  24.352381   user-754
5750   1069.710038    0.118280               3   8.838095   user-641
5751    756.243600    0.153846               2   8.266667   user-641
5752   1295.875074    0.076271               3   8.352381   user-715
5753    291.293692    0.192308               4   9.952381   user-715

[3072 rows x 5 columns]

In [40]:
df_train_spammers = df_spammers_scrapers.sample(frac = 0.002)
df_test_spammers = pd.concat([df_train_spammers, df_spammers_scrapers]).drop_duplicates(keep = False)

In [41]:
df_train_normal = df_normal.sample(frac = 0.8)
df_test_normal = pd.concat([df_train_normal, df_normal]).drop_duplicates(keep = False)

In [42]:
df_train = pd.concat([df_train_spammers, df_train_normal])
df_test = pd.concat([df_test_spammers, df_test_normal])

df_train.to_csv('csv_files/train.csv', index=False) 
df_test.to_csv('csv_files/test.csv', index=False)