In [19]:
import pandas as pd
import re
from vectors_check import read_csv_file, group_data, format_for_url, clean_reqlogs

In [25]:
import re

In [20]:
#Code for assembling a batch of request from one user
data = read_csv_file('requests.csv')
data = group_data(data)
#single_user = data.iloc[1]
data

,userID,timestamp,sessionID,expiring,URL
0,user-10,"1676375523348, 1676375529188, 1676375538350, 1...","null, 53f2f0c8-719b-4df9-837a-134f93c27501, ...","0, 1676375823356, 1676375823356, 1676375823356...","/login, /searchUsers?page=0, /profile/372, ..."
1,user-100,"1676376789336, 1676376798053, 1676376799611, 1...","null, c8e78456-e1d4-4c6e-b557-a6967d89ef02, ...","0, 1676377089336, 1676377089336, 1676377089336...","/login, /searchUsers?page=0, /profile/716, ..."
2,user-1000,"1676385815691, 1676385823348, 1676385827565, 1...","null, c48e67f9-4028-406e-b79b-1a9b37286967, ...","0, 1676386115696, 1676386115696, 1676386115696...","/login, /searchUsers?page=0, /profile/626, ..."
3,user-1001,"1676373842170, 1676373844374, 1676373849642, 1...","null, d231871c-dbe3-4069-baab-2d5f1d3ce280, ...","0, 1676374142176, 1676374142176, 1676374142176...","/login, /searchUsers?page=0, /profile/117, ..."
4,user-1002,"1676373938506, 1676373945276, 1676373946891, 1...","null, 7973a2b2-9a41-4ab2-8e69-c91c6ab20085, ...","0, 1676374238506, 1676374238506, 1676374238506...","/login, /searchUsers?page=0, /profile/162, ..."
...,...,...,...,...,...
999,user-995,"1676375493354, 1676375502292, 1676375509215, 1...","null, 368f244a-7878-4192-ac83-9ac8896d9736, ...","0, 1676375793356, 1676375793356, 1676375793356...","/login, /searchUsers?page=0, /profile/337, ..."
1000,user-996,"1676375215327, 1676375224782, 1676375232642, 1...","null, 5bdc4e86-69d0-43c4-b6d3-a7347dc65847, ...","0, 1676375515336, 1676375515336, 1676375515336...","/login, /searchUsers?page=0, /profile/642, ..."
1001,user-997,"1676377442299, 1676377444743, 1676377453055, 1...","null, a77fe519-7956-4ca5-b0ed-2e033fdb15e4, ...","0, 1676377742306, 1676377742306, 1676377742306...","/login, /searchUsers?page=0, /profile/760, ..."
1002,user-998,"1676377432947, 1676377439469, 1676377444691, 1...","null, da839b7f-6596-40cc-9cb9-195db960f2f6, ...","0, 1676377732956, 1676377732956, 1676377732956...","/login, /searchUsers?page=0, /profile/944, ..."
1003,user-999,"1676388040265, 1676388042330, 1676388047329, 1...","null, b995b827-9018-44cb-8c48-7c040563a677, ...","0, 1676388340266, 1676388340266, 1676388340266...","/login, /searchUsers?page=0, /profile/243, ..."

In [21]:
url_data = format_for_url(data)

In [22]:
url_data

          userID                                                URL
0        user-10   /login,  /searchUsers?page=0,  /profile/372, ...
1       user-100   /login,  /searchUsers?page=0,  /profile/716, ...
2      user-1000   /login,  /searchUsers?page=0,  /profile/626, ...
3      user-1001   /login,  /searchUsers?page=0,  /profile/117, ...
4      user-1002   /login,  /searchUsers?page=0,  /profile/162, ...
...          ...                                                ...
999     user-995   /login,  /searchUsers?page=0,  /profile/337, ...
1000    user-996   /login,  /searchUsers?page=0,  /profile/642, ...
1001    user-997   /login,  /searchUsers?page=0,  /profile/760, ...
1002    user-998   /login,  /searchUsers?page=0,  /profile/944, ...
1003    user-999   /login,  /searchUsers?page=0,  /profile/243, ...

[1004 rows x 2 columns]

In [26]:
clean_reqlogs(url_data)

NameError: name 're' is not defined