In [1]:
import pandas as pd
import re
from vectors_check import read_csv_file, group_data, format_for_url, clean_reqlogs, get_variance_score, get_vectorizer, get_vectorized_logs


from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

This notebook is only for testing the vectors_check.py file.
The result

In [2]:
#Code for assembling a batch of request from one user
data = read_csv_file('requests.csv')
data = group_data(data)
#single_user = data.iloc[1]

In [3]:
url_data_df = format_for_url(data)

In [4]:
url_data_df

          userID                                                URL
0        user-10   /login,  /searchUsers?page=0,  /profile/372, ...
1       user-100   /login,  /searchUsers?page=0,  /profile/716, ...
2      user-1000   /login,  /searchUsers?page=0,  /profile/626, ...
3      user-1001   /login,  /searchUsers?page=0,  /profile/117, ...
4      user-1002   /login,  /searchUsers?page=0,  /profile/162, ...
...          ...                                                ...
999     user-995   /login,  /searchUsers?page=0,  /profile/337, ...
1000    user-996   /login,  /searchUsers?page=0,  /profile/642, ...
1001    user-997   /login,  /searchUsers?page=0,  /profile/760, ...
1002    user-998   /login,  /searchUsers?page=0,  /profile/944, ...
1003    user-999   /login,  /searchUsers?page=0,  /profile/243, ...

[1004 rows x 2 columns]

In [5]:
df_clean_url = clean_reqlogs(url_data_df)

In [6]:
df_clean_url

          userID                                       request_logs
0        user-10   /login   /searchusers?page=   /profile/   /co...
1       user-100   /login   /searchusers?page=   /profile/   /pr...
2      user-1000   /login   /searchusers?page=   /profile/   /co...
3      user-1001   /login   /searchusers?page=   /profile/   /pr...
4      user-1002   /login   /searchusers?page=   /profile/   /co...
...          ...                                                ...
999     user-995   /login   /searchusers?page=   /profile/   /ph...
1000    user-996   /login   /searchusers?page=   /profile/   /pr...
1001    user-997   /login   /searchusers?page=   /profile/   /co...
1002    user-998   /login   /searchusers?page=   /profile/   /pr...
1003    user-999   /login   /searchusers?page=   /profile/   /co...

[1004 rows x 2 columns]

In [17]:
y = get_variance_score(vectorizer='count', dataframe=df_clean_url, column_name='request_logs')

tfidf

In [ ]:

#count_vect = CountVectorizer()
#x = count_vect.fit_transform(df_clean_url['request_logs'])
#x

<1004x15 sparse matrix of type '<class 'numpy.int64'>'
	with 13793 stored elements in Compressed Sparse Row format>

In [ ]:
vector_instance= x[7] 
df_vectorized = pd.DataFrame(vector_instance.T.todense(), index=count_vect.get_feature_names_out(), columns=["vect_scores"])
df_vectorized.sort_values(by=["vect_scores"], ascending=False)

              vect_scores
profile             61138
page                 7039
searchusers          7039
login                 236
block                   0
chat                    0
config                  0
conversation            0
inbox                   0
like                    0
markasread              0
photos                  0
report                  0
send                    0
userconfig              0

In [ ]:
single_user = df_clean_url.iloc[0]


"""
url: is '/conversation/markAsRead' important? Should it be divided into '/conversation' and 'markAsRead'?
     What is '/searchUsers?page=0' or '/searchUsers?page=1'? What does the numbers mean?
     Is the 'page' attribute important?
     Are there any urls part of config ('/config', '/login') that should be discared from the analysis?

"""

"\nurl: is '/conversation/markAsRead' important? Should it be divided into '/conversation' and 'markAsRead'?\n     What is '/searchUsers?page=0' or '/searchUsers?page=1'? What does the numbers mean?\n     Is the 'page' attribute important?\n     Are there any urls part of config ('/config', '/login') that should be discared from the analysis?\n\n"

In [ ]:
single_user

userID                                                    user-10
request_logs     /login   /searchusers?page=   /profile/   /co...
Name: 0, dtype: object

In [ ]:
clean = tfidf_vectorizer(df_clean_url)

In [ ]:
clean.todense()

matrix([[0.04185434, 0.28270935, 0.02389254, ..., 0.26359964, 0.28270935,
         0.02389254],
        [0.        , 0.25720906, 0.        , ..., 0.17789072, 0.25720906,
         0.        ],
        [0.0773957 , 0.26138851, 0.04418132, ..., 0.19149427, 0.26138851,
         0.04418132],
        ...,
        [0.02328439, 0.16776186, 0.02658378, ..., 0.20949376, 0.16776186,
         0.02658378],
        [0.        , 0.25652834, 0.        , ..., 0.17084881, 0.25652834,
         0.        ],
        [0.09897283, 0.356545  , 0.        , ..., 0.1780952 , 0.356545  ,
         0.        ]])