In [2]:
import pandas as pd
import re
#import nltk
#from nltk.tokenize import word_tokenize

In [3]:
df = pd.read_csv('requests.csv')
df.columns = ['timestamp', 'userID', 'sessionID', 'expiring', 'URL']
df.dropna(inplace=True)

In [57]:
#df['sessionID'].nunique()
#df['sessionID_idx'].nunique()
# These are the same length, i.e. the conversion worked

In [18]:
# This is done so the sessionID is represented numerically by the sessionID_idx column. Will use this in the LSTM.

# create a dictionary-based mapping of unique session IDs to integer indices
sessions = df['sessionID'].unique().tolist()
session_map = {session: i for i, session in enumerate(sessions)}

# create a new column with integer indices, and dropping 'sessionID' col since it will not be used
df['sessionID_idx'] = df['sessionID'].apply(lambda x: session_map[x])
df = df.drop('sessionID', axis=1)

In [4]:
# This is done so the URL is represented numerically by theurls_idx column. Will use this in the LSTM.

# create a dictionary-based mapping of unique URLs to integer indices
urls = df['URL'].unique().tolist()
urls_map = {urls: i for i, urls in enumerate(urls)}

# create a new column with integer indices, and dropping 'URL' col since it will not be used
df['url_idx'] = df['URL'].apply(lambda x: urls_map[x])
df = df.drop('URL', axis=1)

In [ ]:
df.to_csv('lsmt_data.csv')

In [ ]:
#THE approach below gives a too small (n=12) datsets of urls to work on. Ignore for now

In [11]:
# function for removing numbericals and '/' signs in the URLs
def clean_url(url):
    url = re.sub('[0-9]', '', url) # remove numeric characters and forward slashes
    return url

In [12]:
# Dropping og URL column and replacing it with a cleaned one
df['clean_url'] = df['URL'].apply(clean_url)
df = df.drop('URL', axis=1)
df

,timestamp,userID,expiring,sessionID_idx,clean_url
0,1676373343936,user-1003,1676373495816,0,/chat/send/
1,1676373344344,user-1005,1676373476316,1,/profile/
2,1676373344456,user-1003,1676373495816,0,/chat/send/
3,1676373344912,user-65,1676373604676,2,/searchUsers?page=
4,1676373345020,user-1005,1676373476316,1,/profile/
...,...,...,...,...,...
263206,1676444990852,user-629,1676445248826,9002,/profile/
263207,1676444991104,user-629,1676445248826,9002,/conversation/
263208,1676444991342,user-629,1676445248826,9002,/conversation//markAsRead
263209,1676444991375,user-1005,1676445040536,8965,/profile/
263210,1676444992110,user-1005,1676445040536,8965,/profile/

In [ ]:
"""

df['clean_url'].nunique() will give 12, i.e., only 12 unique urls (to little)

originally it had 16321 unique urls.

"""