In [6]:
import pandas as pd
import math
import numpy as np
import

ModuleNotFoundError: No module named 'Keras'

In [2]:
df = pd.read_csv('train_sorted.csv')
df

       Unnamed: 0      timestamp       expiring  sessionID_idx  url_idx
0          119582  1676405386145              0              4        9
1          164556  1676417597316  1676417837946           5615     3439
2          164555  1676417597296  1676417837946           5615     3439
3          164554  1676417597286  1676417837946           5615     6905
4          164552  1676417596826  1676417837946           5615     6904
...           ...            ...            ...            ...      ...
99186      173222  1676419735406  1676420023696           5910     2148
99187      200489  1676427497072  1676427781206           6836     2355
99188      173182  1676419728064  1676420023696           5910        3
99189      173228  1676419736270  1676420023696           5910     4623
99190      173223  1676419735426  1676420023696           5910     9975

[99191 rows x 5 columns]

In [ ]:
# Preprocess the data
scaler = MinMaxScaler()
train_data_scaled = scaler.fit_transform(train_data)
test_data_scaled = scaler.transform(test_data)